input, textarea, select {
    font-size: 12pt;
    border: 1px solid #dbdbdb;
    padding: 5px;
}

textarea {
    font-family: monospace;
}

pre.code {
    border: 1px solid #dbdbdb;
    background-color: #f7f7f7;
    padding: 10px;
    color: black;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

table td {
    padding: 5px;
    word-wrap: break-word;
}

table th {
    padding: 5px;
}

table tr:hover {
    background-color: #f5f5f5;
}

@media screen and (max-width: 480px) {

    th:nth-of-type(3), td:nth-of-type(3) {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {

    nav img {
        filter: invert(80%);
    }

    table tr:hover {
        background-color: #373e48;
    }

    pre.code {
        filter: invert(80%);
    }

    input, textarea, select {
        filter: invert(80%);
    }
}
