body {
	font:75%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	color:#888;
}

h1.pastebin-title {
	font-size:300%;
}

a {
	color:#222;
	border-bottom:1px dotted #ccc;
	text-decoration:none;
}

a:hover {
	border-bottom:1px solid #ccc;
}

pre.code {
	border:1px dashed #ccc;
	background-color:#f5f5f5;
	padding:5px;
	font-size:150%;
}

.navbar {
	background-color:#eeeeee;
	padding:5px;
	border:1px solid #ccc;
}

.infobox {
	border: 1px solid #C1DAD7;
	padding: 10px;
}
