html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

body, button {
    font-size: 12pt;
    font-family: sans-serif;
    line-height: 140%;
}

textarea {
    font-size: 12pt;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.link-button {
    padding: 0;
    background: none;
    border: none;
}

a, .link { color: #104e8b; }
a:link, a:visited, a:active, .link { text-decoration: none; }
a:hover, .link:hover { text-decoration: underline; }

#container {
    max-width: 1000px;
}

.error { color: #a00; }

.errors li { color: #a00; }

.field-label {
    text-align: right;
}

.inline {
    display: inline;
}

.navbar {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.navbar a, .navbar .link {
    margin-right: 10px;
}

.big-field-label {
    vertical-align: top;
}

.description pre {
    padding: 5px;
    border: 1px dashed #ccc;
    background-color: #f5f5f5;
    overflow: auto;
    font-size: smaller;
}

.description h1 { font-size: 1.5em; }
.description h2 { font-size: 1.17em; }
.description h3 { font-size: 1.0em; }
.description h4 { font-size: 0.83em; }
.description h5 { font-size: 0.67em; }

.description p:first-child { margin-top: 0px; }
.description p:last-child { margin-bottom: 0px; }

.description table, .description td {
    border-color: #666;
    border-style: solid;
}

.description table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

.description td {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}
