*~
_darcs
*.gch
*.obj
*.o
*.s
*.exe
Factor/factor
*.a
*.dll
*.lib
*.exp
*.res
*.RES
*.image
factor.image.fresh
*.dylib
factor
factor.com
*#*#
.DS_Store
.gdb_history
*.*.marks
.*.swp
temp
logs
work
build-support/wordsize
*.bak
.#*
*.swo
checksums.txt
*.so
a.out
