*~
_darcs
*.obj
*.o
*.s
*.exe
Factor/factor
*.a
*.dll
*.lib
*.image
*.dylib
factor
factor.com
*#*#
.DS_Store
.gdb_history
*.*.marks
.*.swp
temp
logs
work
build-support/wordsize
*.bak
.#*
*.swo
checksums.txt
*.so
a.out
