language: cpp
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
sudo: required
dist: trusty
group: deprecated-2017Q4
services:
  - postgresql
  - redis-server
addons:
  apt:
    packages:
      - links
      - libblas-dev
      - libmagic-dev
      - libsnappy-dev
      - libzmq-dev
      - libpq-dev
      - cmake
      - libaio-dev
      - libsnappy-dev
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./build.sh deps-macosx ; else ./build.sh deps-apt-get ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions snappy > /dev/null || brew install snappy; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions cmake > /dev/null || brew install cmake; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions libmagic > /dev/null || brew install libmagic; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions memcached > /dev/null || brew install memcached; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions redis > /dev/null || brew install redis; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions zeromq > /dev/null || brew install zeromq; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew ls --versions postgresql > /dev/null || brew install postgresql; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew services start memcached; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew services start redis; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew services start postgresql; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew services start memcached; fi
  - >
    wget https://github.com/vmt/udis86/archive/v1.7.2.tar.gz && tar xzvf v1.7.2.tar.gz &&
    ( cd udis86-1.7.2/ && ./autogen.sh && ./configure --enable-shared=yes && make && sudo make install ) &&
    ( [[ "$TRAVIS_OS_NAME" != "osx" ]] && sudo ldconfig || true )
script:
  - DEBUG=1 ./build.sh net-bootstrap < /dev/null
  - ./factor -run=zealot.cli-changed-vocabs | while read line ; do ./factor -e="USING: kernel tools.test vocabs.hierarchy ; \"$line\" [ load ] [ test ] bi" ; done
