language: cpp
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
sudo: required
services:
  - postgresql
  - redis-server
branches:
  except:
    - clean-linux-x86-32
    - clean-linux-x86-64
    - clean-macosx-x86-32
    - clean-macosx-x86-64
    - clean-windows-x86-32
    - clean-windows-x86-64
    - cvs
    - darcs
    - main
    - release
addons:
  apt:
    packages:
      - libgtk2.0-dev
      - gtk2-engines-pixbuf
      - libblas-dev
      - libmagic-dev
      - libsnappy-dev
      - libzmq-dev
      - libpq-dev
  homebrew:
    packages:
      - snappy
      - libmagic
      - memcached
      - redis
      - zeromq
      - postgresql
      - udis86
before_install:
  - uname -s
  - case $TRAVIS_OS_NAME in
      osx)
        export HOMEBREW_NO_AUTO_UPDATE=1
        brew services start memcached
        brew services start redis
        brew services start postgresql
        ;;
      linux)
        wget https://github.com/vmt/udis86/archive/v1.7.2.tar.gz && tar xzvf v1.7.2.tar.gz && cd udis86-1.7.2/ && ./autogen.sh && ./configure --enable-shared=yes && make && sudo make install && cd ..
        ;;
    esac
script:
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, TRAVIS_PULL_REQUEST_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH"
  - export CI_BRANCH="${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}"
  - echo "CI_BRANCH=${CI_BRANCH}"
  - DEBUG=1 ./build.sh net-bootstrap < /dev/null
  - "./factor -e='USING: memory tools.test namespaces vocabs.hierarchy ; f long-unit-tests-enabled? set-global \"resource:basis\" \"\" load-from-root save'"
  - "./factor -e='USING: memory tools.test namespaces vocabs.hierarchy ; f long-unit-tests-enabled? set-global \"resource:extra\" \"\" load-from-root save'"
  - "./factor -run=tools.test resource:core"
  - "./factor -run=help.lint resource:core resource:basis resource:extra"
