language: cpp
compiler:
  - clang
  - gcc
os:
  - linux
  - osx
  - windows
sudo: required
services:
  - postgresql
  - redis-server
addons:
  apt:
    packages:
      - links
      - libblas-dev
      - libmagic-dev
      - libsnappy-dev
      - libzmq-dev
      - libpq-dev
      - cmake
      - libaio-dev
      - libsnappy-dev
      - libgtk2.0-dev
      - gtk2-engines-pixbuf
  homebrew:
    packages:
      - snappy
      - libmagic
      - memcached
      - redis
      - zeromq
      - postgresql
      - udis86
branches:
  except:
  - clean-windows-x86-64
  - clean-windows-x86-32
  - clean-linux-x86-64
  - clean-linux-x86-32
  - clean-macosx-x86-64
  - clean-macosx-x86-32
before_install:
  - uname -s
  - case $TRAVIS_OS_NAME in
      osx)
        brew services start memcached
        brew services start redis
        brew services start postgresql
        ;;
      linux)
        wget https://github.com/vmt/udis86/archive/v1.7.2.tar.gz && tar xzvf v1.7.2.tar.gz && cd udis86-1.7.2/ && ./autogen.sh && ./configure --enable-shared=yes && make && sudo make install && cd ..
        ;;
    esac
  - git remote set-branches --add origin master
  - git remote set-branches --add origin clean-windows-x86-64
  - git remote set-branches --add origin clean-windows-x86-32
  - git remote set-branches --add origin clean-linux-x86-64
  - git remote set-branches --add origin clean-linux-x86-32
  - git remote set-branches --add origin clean-macosx-x86-64
  - git remote set-branches --add origin clean-macosx-x86-32
  - git fetch # so we can see which vocabs changed versus origin/master...
script:
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, TRAVIS_PULL_REQUEST_BRANCH=$TRAVIS_PULL_REQUEST_BRANCH"
  - export CI_BRANCH="${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH}"
  - echo "CI_BRANCH=${CI_BRANCH}"
  - case $TRAVIS_OS_NAME in
      osx | linux)
        DEBUG=1 build.sh net-bootstrap < /dev/null
        ;;
      windows)
        build.cmd
        ;;
    esac
    fi
  - factor -e='USING: memory vocabs.hierarchy tools.test namespaces ; \"zealot\" load f long-unit-tests-enabled? set-global save'
  #- factor -run=zealot.cli-changed-vocabs
  #- factor -run=tools.test `./factor -run=zealot.cli-changed-vocabs | paste -s -d " " -`
  #- factor -run=zealot.help-lint `./factor -run=zealot.cli-changed-vocabs | paste -s -d " " -`
  - factor -e='USING: modern.paths sequences tools.test.private ; core-vocabs [ test-vocab ] each'
