<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product
      Name='Factor $(var.Version)'
      Id='*'
      UpgradeCode='840a2300-0be5-11e3-b156-09eb3a9c2bdd'
      Language='1033'
      Codepage='1252'
      Version='$(var.ProductVersion)'
      Manufacturer='Slava Pestov'>
    <Package
        Id='*'
        Keywords='Installer'
        Description="Factor $(var.Version) Installer"
        InstallerVersion='100'
        Languages='1033'
        Compressed='yes'
        SummaryCodepage='1252' />
    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Factor $(var.Version) Installation [1]" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Factor"/>
      </Directory>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='Factor $(var.Version)'>
          <Component Id='MainExe' Guid='b49087c0-1573-11e3-bd10-a9f1edab8a3d'>
            <File
                Id='FactorLangEXE'
                Name='factor-lang.exe'
                DiskId='1'
                Source='factor-lang.exe'
                KeyPath='yes'>
              <Shortcut
                  Advertise="yes"
                  Id="MyProductDesktopShortcut"
                  Directory="DesktopFolder"
                  Name="Factor $(var.Version)"
                  WorkingDirectory="INSTALLDIR"
                  Description="Factor $(var.Version)">
                <Icon Id="Icon.exe" SourceFile="factor-lang.exe"/>
              </Shortcut>
            </File>
          </Component>
          <Component Id='SecondaryExe' Guid='ce8b4ad0-157c-11e3-b4a5-2b2c7e47f7bc'>
            <File
                Id='FactorLangCOM'
                Name='factor-lang.com'
                DiskId='1'
                Source='factor-lang.com'
                KeyPath='yes'/>
          </Component>
          <Component Id='MainImage' Guid='6b66ea90-6BE3-460D-A14F-75658D16550B'>
            <File
                Id='MainImage'
                Name='factor-lang.image'
                DiskId='1'
                Source='factor-lang.image'
                KeyPath='yes' />
          </Component>
          <Component Id='BootImage' Guid='6b66ea90-6BE3-460D-A14F-75658D16550C'>
            <File
                Id='BootImage'
                Name='boot.windows-x86.$(var.Bits).image'
                DiskId='1'
                Source='../boot.windows-x86.$(var.Bits).image'
                KeyPath='yes' />
          </Component>
          <Component Id='MainLib' Guid='6a66ea90-6BE3-460D-A14F-75658D16550B'>
            <File
                Id='MainDLL'
                Name='factor-lang.dll'
                DiskId='1'
                Source='factor-lang.dll'
                KeyPath='yes' />
          </Component>
          <Component Id='TestLib' Guid='6e66ea91-6BE3-460D-A14F-75658D16550A'>
            <File
                Id='TestDLL'
                Name='libfactor-ffi-test.dll'
                DiskId='1'
                Source='libfactor-ffi-test.dll'
                KeyPath='yes' />
          </Component>
          <Component Id='License' Guid='6c66ea90-6BE3-460D-A14F-75658D16550B'>
            <File
                Id='LicenseTXT'
                Name='license.txt'
                DiskId='1'
                Source='../license.txt'
                KeyPath='yes' />
          </Component>
          <Component Id='ReadmeMD' Guid='6e66ea91-6BE3-460D-A14F-75658D16550B'>
            <File
                Id='ReadmeMD'
                Name='README.md'
                DiskId='1'
                Source='../README.md'
                KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <DirectoryRef Id='ApplicationProgramsFolder'>
      <Component Id="ApplicationShortcut" Guid='6e66ea91-6BE3-460D-A14F-23658D16550B'>
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Factor $(var.Version)"
                  Description="The best programming language!"
                  Target="[INSTALLDIR]factor-lang.exe"
                  WorkingDirectory="INSTALLDIR">
          <Icon Id="Icon2.exe" SourceFile="factor-lang.exe"/>
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue
            Root="HKCU"
            Key="Software\Microsoft\MyApplicationName"
            Name="installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <Feature
        Id='Complete'
        Level='1'
        Title='Factor $(var.Version)'
        ConfigurableDirectory='INSTALLDIR'>
      <ComponentGroupRef Id="basisgroup"/>
      <ComponentGroupRef Id="coregroup"/>
      <ComponentGroupRef Id="extragroup"/>
      <ComponentGroupRef Id="miscgroup"/>
      <ComponentGroupRef Id="dllsgroup"/>
      <ComponentRef Id='MainExe' />
      <ComponentRef Id='SecondaryExe' />
      <ComponentRef Id='MainImage' />
      <ComponentRef Id='BootImage' />
      <ComponentRef Id='MainLib' />
      <ComponentRef Id='License' />
      <ComponentRef Id='ReadmeMD' />
      <ComponentRef Id='TestLib' />
      <ComponentRef Id='ApplicationShortcut' />
    </Feature>

    <Icon Id="bigicon.ico" SourceFile="..\misc\icons\Factor.ico"/>
    <Property Id="ARPPRODUCTICON" Value="bigicon.ico" />
    <Property Id="ARPHELPLINK" Value="http://www.factorcode.org/" />

    <!-- The purpose of defining the gui like this is to not have to
         show the license dialog. -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />

      <!-- Skip license dialog -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>
    </UI>
    <Property Id='PREVIOUSVERSIONSINSTALLED' Secure="yes" />
    <Upgrade Id='840a2300-0be5-11e3-b156-09eb3a9c2bdd'>
      <UpgradeVersion
          Minimum="0.0.1.0" Maximum="99.0.0.0"
          Property="PREVIOUSVERSIONSINSTALLED"
          IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"/>
    </InstallExecuteSequence>
  </Product>
</Wix>
