factor-infer-effect.shortcut=A+f i i
factor-run-file.shortcut=A+f f
factor-eval-word-def.shortcut=A+f e e
factor-listener.shortcut=A+f l
factor-edit-dialog.shortcut=A+f g
factor-extract-word.shortcut=A+f x
factor-infer-effects.shortcut=A+f i a
factor-compile.shortcut=A+f c c
factor-apropos.shortcut=A+f a
factor-balance.shortcut=A+f b
factor-eval-selection.shortcut=A+f e s
factor-compile-all.shortcut=A+f c a
factor-float.shortcut=A+f n
factor-edit.shortcut=A+f j
factor.shortcut=A+f l
factor-see.shortcut=A+f w
factor-usages.shortcut=A+f s
factor-insert-use.shortcut=A+f u
