<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Factor</string>
	<key>uuid</key>
	<string>8061D2F3-B603-411D-AFFE-61784A07906D</string>
</dict>
</plist>
