fileTypes: [
  "furnace"
  "fhtml"
]
foldingStartMarker: '''
  (?x)
  		(<(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl)\\b.*?>
  		|<!--(?!.*-->)
  		|\\{\\s*($|\\?>\\s*$|//|/\\*(.*\\*/\\s*$|(?!.*?\\*/)))
  		)
'''
foldingStopMarker: '''
  (?x)
  		(</(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl)>
  		|^\\s*-->
  		|(^|\\s)\\}
  		)
'''
name: "HTML (Factor)"
patterns: [
  {
    begin: "<%\\s"
    end: "(?<=\\s)%>"
    name: "source.factor.embedded.html"
    patterns: [
      {
        include: "source.factor"
      }
    ]
  }
  {
    include: "text.html.basic"
  }
]
scopeName: "text.html.factor"
