body {
	font:75%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
}

ul {	
	margin:10px 10px 10px 0;
	padding:0 0 0 15px;
}

li {
	margin:0 0 0 10px;
	padding:5px;
}

a {
	color:#222;
	border-bottom:1px solid #aaa;
	text-decoration:none;
}

a:hover {
	border-bottom:1px solid #ccc;
}

ol.subnav {
	margin:-10px -10px 0 -5px;
	padding:0;
}

ol.subnav li {
	font:85%/0.9em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}

ol.subnav a {
	font-weight:bold;
	color:#555;
	border-top:2px solid #fff;
	display:block;
	padding:5px;
	text-decoration:none;
	margin:0 5px 0 0;
	border-bottom:none;
}

ol.subnav a:hover {
	border-top:2px solid #943329;
	color:#121212;
	border-bottom:none;
}

#downloads {
	width: 520px;
	padding: 0;
	margin: 0;
}

caption {
	padding: 0 0 5px 0;
	width: 520px;	 
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 6px 6px 6px 6px;
	background: #CAE8EA url(bg_header.jpg) no-repeat;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

pre {
	border: 1px dashed #ccc;
	background-color: #f5f5f5;
	font-size: 120%;
}

td.alt {
	background: #F5FAFA;
	color: #797268;
}

td.doesnotexist {
	background: #E5EAEA;
}


td.unsupported {
	background: #ffaaaa;
}


td.supported {
	background: #aaffaa;
}

td.supported :hover { background-color: #88ff88; }  

td.nobinary {
	background: #eeee88;
}

div.bigdiv {
	width: 100px;
	text-align: center;
	color: #050;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa;
	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #797268;
}

th.allbg {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background: none;
}
