body {
	font:75%/1.6em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif;
}

ul {	
	margin:10px 10px 10px 0;
	padding:0 0 0 15px;
}

li {
	margin:0 0 0 10px;
	padding:5px;
}

a {
	color:#222;
	border-bottom:1px solid #aaa;
	text-decoration:none;
}

a:hover {
	border-bottom:1px solid #ccc;
}

pre {
	border: 1px dashed #ccc;
	background-color: #f5f5f5;
	font-size: 120%;
}
