html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a { color: #2A5DB0; }
a:link, a:visited, a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

body {
    font-size: 12pt;
    font-family: sans-serif;
    text-align: center;
}

.page {
    max-width: 800px;
    text-align: left;
    line-height: 150%;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    background-color: #f7f7f7;
    border: 1px solid #dbdbdb;
    padding: 10px;
    margin-top: 10px;
    font-size: smaller;
    width: 100%;
    overflow: auto;
}

ul {
    margin: 10px 10px 10px 0;
    padding-left: 10px;
}

li {
    margin-left: 10px;
    padding: 5px;
}

table {
  border-collapse: collapse;
}

.downloads {
    width: min(520px, 100%);
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.downloads th {
    color: #4f6b72;
    border: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: smaller;
    padding: 6px;
    background-color: #CAE8EA;
    background-image: linear-gradient(#DBEFEE, #C9E7E9);
    text-align: center;
    vertical-align: center;
}

.downloads td:last-child {
    border-right: 1px solid #C1DAD7;
}

.downloads tr:last-child {
    border-bottom: 1px solid #C1DAD7;
}

.downloads th.nobg {
    border: none;
    background: none;
}

.downloads td {
    text-align: center;
    vertical-align: center;
}

.downloads td.alt {
    background: #F5FAFA;
    color: #797268;
}

.downloads td.doesnotexist {
    background: #E5EAEA;
}

.downloads td.unsupported {
    background: #ffaaaa;
}

.downloads td.supported {
    background: #aaffaa;
}

.downloads td.nobinary {
    background: #eeee88;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

@media screen and (max-width: 600px) {
    .left, .right {
        width: 100%;
        float: none;
    }

    .downloads {
        width: 100%;
        max-width: 520px;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #202124;
        color: #bdc1c6;
    }

    title, h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    a {
        color: #8ab4f8;
    }

    pre {
        color: black;
    }

    .downloads a {
        color: #2A5DB0;
    }

    img#logo {
        content:url(logo-dark.png);
    }
}
