html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

a:link { text-decoration: none; color: #104e8b; }
a:visited { text-decoration: none; color: #104e8b; }
a:active { text-decoration: none; color: #104e8b; }
a:hover { text-decoration: underline; color: #104e8b; }

input {
    border: 1px solid #999999;
    font-size: smaller;
    border-radius: 3px;
}

img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

tr:hover {
    background-color: #f5f5f5;
}

.navbar {
    background-color: #f3f2ea;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-family: sans-serif;
}

.navbar a {
    border-right: 1px solid #999;
    padding-right: 10px;
    margin-right: 5px;
}

.page {
    margin: 20px;
    max-width: 800px;
    line-height: 150%;
}
