<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>#!/usr/bin/env ruby
require "#{ENV["TM_BUNDLE_SUPPORT"]}/lib/tm_factor"
require ENV['TM_SUPPORT_PATH'] + '/lib/ui'

a = TextMate::UI.request_string(:title =&gt; "Scaffold Setup", :prompt =&gt;
"Vocab Name:")
b = ENV["TM_FILEPATH"]
if b then c = b[/\/factor\/([^\/]+)\//,1]
else c = "work"
end
factor_eval(%Q(USING: kernel editors tools.scaffold ; "#{a}" dup #{"scaffold-" &lt;&lt; c} edit-vocab))</string>
	<key>extension</key>
	<string>factor</string>
	<key>keyEquivalent</key>
	<string>@N</string>
	<key>name</key>
	<string>Vocabulary</string>
	<key>scope</key>
	<string>source.factor</string>
	<key>uuid</key>
	<string>B6D1D91E-3EF3-4112-97DF-BFCABEBAA1C9</string>
</dict>
</plist>
