.page {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
}

.page img {
    max-width: 100%;
    height: auto;
}

.posts {
    max-width: 755px;
    margin-right: 215px;
}

.infobox {
    position: absolute;
    top: 0;
    left: calc(100% - 215px);
    width: 200px;
    padding: 10px;
    line-height: 130%;
}

.posting-title {
    padding: 10px;
    background-color:#f3f2ea;
}

.posting-body {
    line-height: 150%;
}

.posting-date {
    text-align: right;
    font-size: 90%;
}

pre, code {
    color: #000000;
}

hr {
   height: 1px;
}

@media screen and (max-width: 600px) {
    .infobox {
        display: none;
    }

    .posts {
        margin-right: 0;
    }

    blockquote {
        margin: 0.5rem;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .posting-title {
        background-color: #373e48;
    }

    pre, code {
        color: #bdc1c6;
    }
}
