#container {
    max-width: 1000px;
}

#left {
    width: 0;
    z-index: 99;
}

#right {
    max-width: 800px;
}

.comparison th {
    border-width: 1px;
    border-color: #666;
    border-style: solid;
    width: 50%;
}

.comparison table {
    border-color: #666;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

.insert {
    background-color: #9f9;
}

.delete {
    background-color: #f99;
}

.revisions table, .revisions td, .revisions th {
    border-color: #666;
    border-style: solid;
}

.revisions table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

.revisions td, .revisions th {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

.contents {
    font-size: 90%;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 130%;
}

.contents ul {
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}

.page {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.page nav {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    border-top: 1px solid #ccc;
}

.page img {
    max-width: 100%;
}

.page hr {
    height: 1px;
}

.description {
    line-height: 150%;
}

.description pre {
    padding: 5px;
    border: 1px dashed #ccc;
    background-color: #f5f5f5;
}

.description h1 { font-size: 1.5em; }
.description h2 { font-size: 1.17em; }
.description h3 { font-size: 1.0em; }
.description h4 { font-size: 0.83em; }
.description h5 { font-size: 0.67em; }

.description p:first-child { margin-top: 0px; }
.description p:last-child { margin-bottom: 0px; }

.description table, .description td {
    border-color: #666;
    border-style: solid;
}

.description table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

.description td {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

.footer {
    padding-left: 15px;
    font-size: smaller;
}
