#left {
    float: left;
    width: 200px;
    border-right: 1px solid #ccc;
    background: #f3f2ea;
}

#right {
    margin-left: 200px;
}

.navbar img {
    margin: -15px;
    margin-top: -19px;
    margin-right: 0px;
    padding: 15px;
    padding-top: 13px;
    padding-bottom: 11px;
    vertical-align: middle;
    display: none;
}

@media screen and (max-width: 600px) {
    #left {
        position: absolute;
        margin-top: 32px;
        display: none;
    }

    #right {
        margin-left: 0;
    }

    .navbar img {
        display: inline;
    }
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    .navbar img {
        filter: invert(80%);
    }

    #left {
        background-color: #373e48;
        border-right: 1px solid #666;
    }
}
