#left {
    float: left;
    width: 200px;
    z-index: 99;
    border-right: 1px solid #ccc;
    background: #f3f2ea;
}

#right {
    margin-left: 200px;
    width: calc(100% - 200px);
}

nav img {
    margin: -15px;
    margin-top: -19px;
    margin-right: 0px;
    padding: 15px;
    padding-top: 13px;
    padding-bottom: 11px;
    vertical-align: middle;
    display: none;
}

.navrow {
    left: 0;
}

.page {
    max-width: 800px;
    left: 0;
}

.page nav {
    position: relative;
    width: calc(100vw - 200px);
    left: 0;
}

@media screen and (max-width: 600px) {
    #left {
        position: absolute;
        margin-top: 32px;
        display: none;
    }

    #right {
        margin-left: 0;
        width: 100vw;
    }

    nav img {
        display: inline;
    }

    .page nav {
        width: 100vw;
    }
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
    nav img {
        filter: invert(80%);
    }

    #left {
        background-color: #373e48;
        border-right: 1px solid #666;
    }

    .description pre {
        color: black;
    }
}
