[submodule "davec"]
	path = davec
	url = git@bitbucket.org:tgunr/fdavec.git
[submodule "explain"]
	path = explain
	url = git@bitbucket.org:tgunr/fexplain.git
[submodule "folder"]
	path = folder
	url = git@bitbucket.org:tgunr/ffolders.git
[submodule "shell"]
	path = shell
	url = git@bitbucket.org:tgunr/fshell.git
[submodule "smartcp"]
	path = smartcp
	url = git@bitbucket.org:tgunr/fsmartcp.git
[submodule "file"]
	path = file
	url = git@bitbucket.org:tgunr/ffiles.git
[submodule "extensions"]
	path = extensions
	url = git@bitbucket.org:tgunr/fextensions.git
[submodule "mikrotik"]
	path = mikrotik
	url = git@bitbucket.org:tgunr/fmikrotik.git
[submodule "FactorFinder"]
	path = FactorFinder
	url = git@bitbucket.org:tgunr/ffactorfinder.git
[submodule "acl"]
	path = acl
	url = git@bitbucket.org:tgunr/facl.git
[submodule "c-types-ext"]
	path = c-types-ext
	url = git@bitbucket.org:tgunr/fc-types.git
[submodule "pcap"]
	path = pcap
	url = git@bitbucket.org:tgunr/fpcap.git
[submodule "diff"]
	path = diff
	url = git@bitbucket.org:tgunr/fdiff.git
[submodule "mysql"]
	path = mysql
	url = git@bitbucket.org:tgunr/fmysql.git
[submodule "netflow"]
	path = netflow
	url = git@bitbucket.org:tgunr/fnetflow.git
[submodule "new-regexp"]
	path = new-regexp
	url = git@bitbucket.org:tgunr/fnew-regexp.git
[submodule "sshutil"]
	path = sshutil
	url = git@bitbucket.org:tgunr/fsshutil.git
[submodule "unix"]
	path = unix
	url = git@bitbucket.org:tgunr/funix.git
[submodule "keymapper"]
	path = keymapper
	url = ssh://git@bitbucket.org/tgunr/fkeymapper.git
[submodule "spotlight"]
	path = spotlight
	url = https://github.com/cwalston/spotlight.factor.git
[submodule "starting-forth"]
	path = starting-forth
	url = git@bitbucket.org:tgunr/fstarting-forth.git
[submodule "tools"]
	path = tools
	url = git@bitbucket.org:tgunr/ftools.git
[submodule "js-script"]
	path = js-script
	url = git@bitbucket.org:tgunr/fjs-script.git
[submodule "itunes"]
	path = itunes
	url = ssh://git@bitbucket.org/tgunr/ftunes.git
[submodule "gstreamer"]
	path = gstreamer
	url = ssh://git@bitbucket.org/tgunr/fgstreamer.git
[submodule "marten"]
	path = marten
	url = git@bitbucket.org:tgunr/fmarten.git
[submodule "nft"]
	path = nft
	url = ssh://git@bitbucket.org/tgunr/fnft.git
[submodule "pg"]
	path = pg
	url = git@bitbucket.org:tgunr/fpg.git
[submodule "solar"]
	path = solar
	url = git@bitbucket.org:tgunr/fsolar.git
[submodule "dropboxlinker"]
	path = dropboxlinker
	url = git@bitbucket.org:tgunr/fdropboxlinker.git
[submodule "factor-talks"]
	path = factor-talks
	url = git@github.com:factor/factor-talks.git
[submodule "cnc"]
	path = cnc
	url = git@bitbucket.org:tgunr/cnc.git
[submodule "gadget-play"]
	path = gadget-play
	url = git@bitbucket.org:tgunr/gadget-play.git
[submodule "grbl"]
	path = grbl
	url = git@bitbucket.org:tgunr/fgrbl.git
[submodule "pmlog"]
	path = pmlog
	url = git@bitbucket.org:tgunr/fpmlog.git
[submodule "stabby"]
	path = stabby
	url = git@bitbucket.org:tgunr/fstabby.git
