.tabs {
  display: flex;
  flex-wrap: wrap;
}

.radiotab {
  position: absolute;
  opacity: 0;
}

.label {
  width: 100%;
  background: #e5e5e5;
  cursor: pointer;
}

.label:active {
  background: #ccc;
}

.panel {
  display: none;
  width: 100%;
}

.input:checked + .label + .panel {
  display: block;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }

  .label {
    width: 33.33%;
  }
}
