<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Any</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>factor</string>
	<key>CFBundleIconFile</key>
	<string>Factor.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.factorcode.Factor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Factor</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>0.101</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2003-2024 Factor developers</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Factor/Evaluate in Listener</string>
			</dict>
			<key>NSMessage</key>
			<string>evalInListener</string>
			<key>NSPortName</key>
			<string>Factor</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Factor/Evaluate Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>evalToString</string>
			<key>NSPortName</key>
			<string>Factor</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
    <key>UTExportedTypeDeclarations</key>
    <array>
      <dict>
            <key>UTTypeIdentifier</key>
            <string>public.source-factor</string>
            <key>UTTypeReferenceURL</key>
            <string>http://factorcode.org</string>
            <key>UTTypeDescription</key>
            <string>Factor Code</string>
            <key>UTTypeIconFile</key>
	        <string>Factor.icns</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.source</string>
                <string>public.plain-text</string>
                <string>public.text</string>
                <string>public.data</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>.factor</string>
                </array>
            </dict>
        </dict>
    </array>
</dict>
</plist>
