    body { background: white; color: black; }
    p { margin-left: 10%; margin-right: 10%;
        font: normal 100% Verdana, Arial, Helvetica; }
    td { margin-left: 10%; margin-right: 10%;
        font: normal 100% Verdana, Arial, Helvetica; }
    table { margin-left: 10%; margin-right: 10%; }
    ul { margin-left: 10%; margin-right: 10%;
        font: normal 100% Verdana, Arial, Helvetica; }
    ol { margin-left: 10%; margin-right: 10%;
        font: normal 100% Verdana, Arial, Helvetica; }
    h1 { text-align: center; margin-bottom: 0; margin-top: 1em; }
    h2 { margin: 0 5% 0 7.5%; font-size: 120%; font-style: italic; }
    h3 { border: 2px solid blue; border-width: 2px 0.5em 2px 0.5em; 
            padding: 0.2em 0.2em 0.2em 0.5em; background: #fafafa; 
            margin-left: 10%; margin-right: 10%; margin-top: 2em;
            font-size: 100%; }
    .note { border: 2px solid blue; border-width: 2px 2px 2px 2em;
             padding: 0.5em 0.5em 0.5em 1em; background: #ffe; }
    .code { border: 1px solid black; border-width: 1px; 
            padding: 0.5em; background: #ffe; 
            margin-left: 10%; margin-right: 10%; }
    blockquote { margin-left: 25%; margin-right: 25%; 
                 font-style: italic; }
    .highlite { color: red; }
    .footer { margin-top: 2.5em; border-top: 1px solid gray; color:
  #AAA; font-size: 85%; padding-top: 0.33em;  }    
    #copyright { text-align: center; color: #AAA; 
                 font-size: 65%;   }    